<h1><%= user.name %>'s Detail Page</h1>
<h4>Create a New Song</h4>
<form action="/albums/<%= user.id %>/songs" method="POST">
  <div class="form-group">
    <label for="songText">Song Text</label>
    <input type="text" class="form-control" id="songText" name="songText" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<h1>Songs</h1>
<ul>
  <% album.songs.forEach(song=> { %>
  <li>
    <a href="/albums/<%= album.id %>/tweets/<%= song.id %>/edit"
      ><%= song.songText %></a
    >
    <form
      action="/albums/<%= user.id %>/songs/<%= song.id %>?_method=DELETE"
      method="POST"
    >
      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>